.bg{
	background-image: url(clown.jpg);
}
.header-h{
	height: 70px;
}
.main-container-h{
	height: 800px;
}
.green-h{
	height: 800px;
}
.red-h{
	height: 350px;
}
.h90{
	height: 90px;
}
.h300{
	height: 300px;
}
.h170{
	height: 170px;
}
.h35{
	height: 35px;
}
.h45{
	height: 45px;
}
.h55{
	height: 55px;
}